footer {
    background: #101010;
    color: white; 
    position: absolute;
    bottom: 0; left: 0;
    height: 220px;
    
    width: 100%;
}


html {
    height: 100%;
    box-sizing: border-box;
}


    


#cont {
    margin-top: 75px;
}

/*classes/view.php sin trackView()*/
#hp_slide {
    width:100%;
    background:lightgray;
    height:25px;
    opacity:0.5;
}
#hp_range {
    width:0%;
    background:blue;
    height:25px;
}
#vidspiller {
    width:100%;
    height:auto;
}
#volume {
    width:25%;
}
#vidmedtekst {
    background-color:AliceBlue;
}
#videodiv {
    max-height:100%; 
}

#loadtekstdiv ul {
    list-style-type: none;
}
/*classes/view.php sin trackView() slutt*/

